<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event_user.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_user.event_id %>
</p>

<%= link_to 'Edit', edit_event_user_path(@event_user) %> |
<%= link_to 'Back', event_users_path %>
