<div class="col-md-8">
  <h1>Listing Events <%= link_to '<i class="material-icons">add</i>'.html_safe, new_event_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" %></h1>

  <ul class="mdl-list">
    <% @events.each do |event| %>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">pool</i>
        <span><%= link_to event.place, event %> <div class="material-icons mdl-badge mdl-badge--overlap" data-badge=<%= event.users.count%>>people</div></span>

        <span class="mdl-list__item-sub-title">
          <% if event.time < Time.now %>
            Event was <%= distance_of_time_in_words(Time.now, event.time) %> ago
          <% else %>
            Happening in <%= distance_of_time_in_words(Time.now, event.time) %>,
            on <%= event.formatted_time %>
          <% end %>
          <br>
        </span>
      </span>

      <span class="mdl-list__item-secondary-content">
        <% if current_user and event.has_user? current_user %>
          <span class="mdl-list__item-secondary-info"></span>
          <a class="mdl-list__item-secondary-action" href=<%= join_path(event)%>><i class="material-icons">event_available</i></a>
        <% elsif current_user %>
          <% if not event.in_past? %>
            <span class="mdl-list__item-secondary-info"></span>
            <a class="mdl-list__item-secondary-action" href=<%= join_path(event)%>><i class="material-icons">directions_boat</i></a>
          <% end %>
          <% if current_user.admin? %>
            <a class="mdl-list__item-secondary-action" data-method="delete" href=<%= event_path(event)%>><i class="material-icons">event_busy</i></a>
          <% end %>
        <% end %>
      </span>
    </li>
    <% end %>
  </ul>
  <br>


</div>
