<div class="col-md-8">
  <h1>Listing Achievements   <%= link_to '<i class="material-icons">add</i>'.html_safe, new_achievement_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" %></h1>
  <ul class="demo-list-two mdl-list">
    <% @achievements.each do |ach| %>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <% if ach.poke_name.present? %>
          <img class="material-icons mdl-list__item-avatar" src=<%= ach.picture_url %>>
        <% else %>
          <i class="material-icons mdl-list__item-avatar">cake</i>
        <% end %>
        <span><%= link_to ach.title, ach %> <div class="material-icons mdl-badge mdl-badge--overlap" data-badge=<%= ach.users.count%>>people</div></span>
        <span class="mdl-list__item-sub-title"><%= ach %></span>
      </span>

      <span class="mdl-list__item-secondary-content">
        <% if current_user and ach.completed_by? current_user %>
          <span class="mdl-list__item-secondary-info"></span>
          <a class="mdl-list__item-secondary-action" href=<%= achievement_path(ach)%>><i class="material-icons">check_box</i></a>
        <% elsif current_user %>
          <span class="mdl-list__item-secondary-info"></span>
          <a class="mdl-list__item-secondary-action" href=<%= complete_path(ach)%>><i class="material-icons">check_box_outline_blank</i></a>
        <% end %>
      </span>
    </li>
    <% end %>
  </ul>
  <br>
</div>
